.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #6950a3; */
    width: 75%;
    /* box-shadow: 5px 5px 15px gray; */
    /* padding: 1px; */
    margin: 10% 10% 20% 10%;
    /* border: 1.5px solid #6950a3; */
}

.image{
    border: 1px solid gray;
    border-radius: 10px;
}
.titleAndStock{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2px 10px 2px;
}


.priceAndAddtoCart{
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-evenly;
    width: 100%;
    /* border: 1px solid #6950a3; */
    margin-top: 10px ;
    font-size: large;
}

.priceButton{
    /* background-color: #6950a3; */
    padding: 5px;
    border: 1px solid #6950a3;
    border-radius: 5px;
    margin-right: 5px;
    color: #6950a3;
    color: black;
    width: 50%;
}

.addToCartButton{
    background-color: #6950a3;
    padding: 5px;
    border-radius: 5px;
    margin-left:5px;
    width: 50%;
}

.quantity{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-size: 110%;
}

.quantityButton{
    background:none;
    border: none;
    color: white;
    font-size: 100%;
}

.cart{
    width: 96%;
    position: sticky;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background-color: #6950a3;
    margin: 2%;
    border-radius: 10px;
    
}

.goToCart{
    background-color: white;
    color: #6950a3;
    border-radius: 5px;
    padding: 10px;
    font-size: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.noCart{
    display: none;
}

.showOrderSummary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* height: 100vh; */
    bottom: 0;
}

.noOrderSummary{
    display: none;
}

.bottomButtons{
   display: flex;
   flex-direction: row;
   align-items: center;
   position: fixed;
   bottom: 10px;
   width: 100%;
   justify-content: space-around;
}

.backButton{
   border: 1px solid #6950a3;
   background-color: white;
   border-radius: 10px;
   color: #6950a3;
   font-size: large;
   width: 35%;
   height: 40px;
   /* margin: 2%; */
}

.proceedButton{
   border: 1px solid #6950a3;
   background-color: #6950a3;
   border-radius: 10px;
   color: white;
   font-size: large;
   width: 60%;
   height: 40px;
   /* margin: 2%; */
}

.orderSummary{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cartItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* color: black; */
    padding: 10px 0px 10px 0px;
    /* border-bottom: 0.1px solid black; */
}