.storeContainer{
    color: #6950a3;
    
}

.sorry{
    font-size: 180%;
}

.sorryMessage{
    font-size: 120%;
    margin: 2% 5% 5% 5%;
}

.homeButton{
    background-color: #6950a3;
    color: white;
    text-decoration: none;
    font-size: 130%;
    padding:2px 10px 2px 10px;
    border-radius: 5px;
}