.topBarContainerActive{
    position: fixed;
    top:0;
    bottom: 0%;
    width:100%;
    height: 100vh;
    z-index: 100;
    background-color: whitesmoke;
}

@media (min-width:780px) {
    .topBarContainerActive{
        position: fixed;
        top:0;
        width:30%;
        height: 100vh;
        z-index: 100;
        background-color: whitesmoke;
    }
}

.topBar{
    background-color: rgb(255, 255, 255);
    color: #6950a3;
    /* position:sticky; */
    z-index: 1;
    top: 0%;
    padding: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /* border-bottom: 1px inset rgb(220, 220, 220); */
    box-shadow: 0px 1px 4px #6950a3;
    /* margin-bottom: 6%; */
    width: 100%;
}

.topBarLeft{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topBarHeading{
    color: #6950a3;
    /* font-family:'Courier New', Courier, monospace; */
    font-size:150%;
    font-weight: 200;
    padding: 10px;

}

.menuIcon{
    font-size: 200%;
    
}

.crossIcon{
    font-size: 120%;
}

.menuActive{
    width: 100%;
    background-color: whitesmoke; 
}

.menuDisabled{
    display: none;
}

.menuContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.buttons{
    text-decoration: none;
    font-size: 95%;
    border: none;
    background: none;
    width: max-content;
    padding: 10px 5px 10px 5px;
    margin-bottom:2px ;
    border-bottom: 0.5px solid #6950a3;
    width: 90%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* text-transform: uppercase; */
    color: black;
}


.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: black;
}

