.latestReleaseContainer{
   opacity: 1;
   /* animation: appear 3s forwards; */
   z-index: -1;
}

.latestReleaseHeadingContainer{
    margin: 7% 14% 0% 14%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


@keyframes typing {
    from {width: 0%}
    to {width: 100%}
}

@keyframes appear {
    from {opacity: 0}
    to {opacity: 1}
}

.latestReleaseHeading{
    font-size: 115%;
    /* font-family: 'Courier New', Courier, monospace; */
    margin-bottom: 1.5%;
    font-weight:400;
    color: #6950a3;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    width:100%;
    animation: typing 3s forwards;
}

.hrTag{
    width: 100%;
    height: 1px;
    background-color: black;
    /* background-color: #6950a3; */
    border: none;
}


