.chaptersSectionContainer{
    margin: 4%;
}
  
.heading{
    font-weight: 400;
    font-size: x-large;
    margin-bottom: 2%;
    color: #6950a3;
}
  
.description{
    font-size: 95%;
    text-align:justify;
}