.backToTop{
    
    width: auto;
    font-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* text-transform: uppercase; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border: none;
    color: #6950a3;
    /* text-decoration: underline 1px #6950a3; */
    text-transform: uppercase;
    font-weight: 300;
    font-size: 100%;
    margin: 10%;
}