.recentActivitiesContainer{
    padding: 5%;
    padding-top: 3%;
}

.heading{
    text-align: left;
    font-weight: 500; 
    font-size: 180%;
    margin-bottom: 5%;
    color: #6950a3;
}

.description{
    margin-top: 10%;
    text-align: justify;
}