.myClassName{
    border: none;
    /* border-bottom: 1px solid #6950a3; */
    box-shadow: none;
}

.myControlClassName{
    border: none;
    background-color: white;
    border-bottom: 1px solid #6950a3;
    /* border-radius: 50px; */
    box-shadow: none;
}
