@keyframes appear{
    from{opacity: 0}
    to{opacity: 1}
}


.container{
  margin: 4%;
}
.welcomeHeading{
    position: relative;
    z-index: -1;
    margin: 10% 0% 4% 0%;
    color: #6950a3;
    font-size: xx-large;
    width:100%;
    font-weight: bold;
    font-size: 155%;
    opacity: 1;
    animation: 3s appear forwards;
}

.intro{
    text-align: justify;
    font-weight:400;
    color: black;
}

.aboutHeading{
    font-weight: 400;
    font-size: x-large;
    margin: 6% 0% 4% 0%;
    color: #6950a3;
}
  
.aboutDescription{
    font-size: 95%;
    text-align:justify;
}

strong{
    font-weight: 400;
    color: #6950a3;
}



